.headerImage {
  color: brown;
}

.allCards {
  display: flex;
  flex-wrap: wrap;
}

.siteCard {
  background-color: gray;
  transition: 0.3s;
  border-radius: 5px;
  box-sizing: border-box;
  flex: 0 1 calc(25% - 1em);
  margin: 1rem .25em;
}

.siteCard:hover {
  transform: scale(1.03);
  transition: 0.3s;
}